.location-heaading{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #222222;
}
.location-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #7D7D7D;
    margin-top: 10px;
}
.city{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}